.welcome_h2
	margin-top 25px
	line-height 2
.text_weolcome
	width 100%
	max-width 800px
	text-align left
	margin 0 auto
	margin-top 12px
.form_welcome
	width 100%
	max-width 450px
	margin 0 auto
	fieldset
		max-width 215px
		margin-left 10px
		margin-right 10px
		.select
		input
			max-width 215px
	.label_span
		margin-top 44px
		margin-bottom 7px
		width 100%
	button
		margin-top 27px
.advice
	max-width 800px
	margin 0 auto
	margin-top 60px
