<h2>¡Bienvenido!</h2>
<span>IDENTI-PAT es una herramienta virtual referencial desarrollada por la Dirección de Invenciones y Nuevas Tecnologías del Indecopi que tiene como principal objetivo ayudar a los creadores, investigadores, inventores, innovadores o emprende- dores peruanos a identificar si en sus proyectos o creaciones pueden existir elementos susceptibles de ser protegidos por una patente de invención, una patente de modelo de utilidad o un registro de diseño industrial. </span>
<span>Ver más</span>
<span>Si cuentas con un proyecto inventivo o novedoso, ya sea en etapa inicial, en desarrollo o culminado, aprovecha esta herramienta gratuita y analiza si cuentas con materia patentable.</span>
<span>Para utilizar IDENTI-PAT sólo ingresa tu número de documento de identidad (si eres peruano utiliza el número de tu DNI y si eres extranjero utiliza tu número de carné de extranjería) y responde el breve cuestionario que será realizado.</span>
<span>Selecione el tipo de documento:</span>
<fieldset>
<label for=""></label>
<select name="" id="">
	<option value="">DNI</option>
	<option value="">RUC</option>
</select>
</fieldset>
<fieldset>
<label for=""></label>
<input type="text" placeholder="Número">
</fieldset>
<button>Iniciar</button>
<div>
	<h4>AVISO:</h4>
	<p>En cumplimiento con lo dispuesto por la Ley Nº 29733, Ley de Protección de Datos Personales, le informamos que los datos personales que usted proporcione serán utilizados y/o tratados por el Indecopi (por sí mismo o a través de terceros) únicamente para los fines de la presente herramienta, pudiendo ser incorporados en un banco de datos personales de titularidad del Indecopi. Usted podrá ejercer, cuando corresponda, sus derechos de información, acceso, rectificación, cancelación y oposición de sus datos personales en cualquier momento, a través de las mesas de partes de las oficinas del Indecopi.</p>
	<p>Toda información que consigne en el presente formulario acerca de su proyecto será manejada de forma estrictamente confidencial. El Indecopi podrá contactarlo para ofrecerle apoyo, soporte o asistencia en lo que respecta al análisis de su invención a través del Programa Nacional de Patentes - PATENTA.</p>
</div>

