.ctn_report
		width 659px
		background white
		border-radius 8px
		border 1px solid #e8e8e8
		margin 40px auto
		padding-top 84px
		padding-bottom 32px
		img.pdf
			margin-bottom 40px
		.green
			margin-top 20px
			margin-bottom 20px
		.box_report
			width 361px
			height 136.3px
			border-radius 8px
			border 2px solid #1a96a0
			background-color #ffffff
			margin 15px auto
			padding 21px
			span
				color #1a96a0
				display block
				margin 10px 0
