.ctn_question
	width 897px
	margin 0 auto
	&_box
		text-align left
	&_item
		width 100%
		height 125px
		border-radius 8px
		box-shadow 0 0 20px 0 rgba(118, 118, 118, 0.16)
		background-color #ffffff
		margin 25.5px auto
		padding 49px 55px
		text-align left
		span
			font-size 20px
			font-weight 900
			font-style normal
			line-height 1.05
			letter-spacing normal
			text-align left
			color #000000
	&_child_item
		width 434px
		height 94.4px
		border-radius 8px
		box-shadow 0 0 20px 0 rgba(190, 190, 190, 0.15)
		background-color #ffffff
		padding 0 26px
		text-align left
		display inline-block
		margin 10.5px 0
		span
			font-size 18px
			font-weight 500
			font-style normal
			font-stretch normal
			line-height 1.28
			letter-spacing normal
			text-align left
			color #504f54
		&:nth-child(even)
			margin-right 29px
		.img
			width 30%
			max-width 60.8px
			height 60.8px
			object-fit contain
			display inline-block
			vertical-align middle
			img
				width 100%
.ctn_box_toltip
	width 385px
	opacity 0.97
	background-color #1995a0
	padding 23px
	span
		color white
		font-size 14px
