<div class="ctn_question">
	<div class="ctn_question_box">
		<div class="ctn_question_item">
			<div class="ctn_question_item_txt">
				<span>Elija la opción que más se aproxime a lo que desea proteger</span>
			</div>
		</div>
	</div>
	<div class="ctn_question_box">
		<div class="ctn_question_item">
			<div class="ctn_question_item_txt">
				<span>Elija la opción que más se aproxime a lo que desea proteger</span>
			</div>
		</div>
		<div class="ctn_question_child_item">
			<div class="hack_space"></div>
			<div class="img">
				<img src="./assets/images/sprite/bd_web.png" alt="">
			</div>
			<span>Marca de producto o servicio</span>
			<img class="info_tooltip" src="./assets/images/info.png" alt="">
			<div class="ctn_box_toltip">
					<span>En términos sencillos una variedad vegetal es el conjunto de plantas que poseen ciertas características que lo diferencian de otras variedades. Desde el punto de vista legal, una variedad vegetal es aquella que posee novedad, distinción, homogeneidad, estabilidad y denominación.</span>
			</div>
		</div>
		<div class="ctn_question_child_item">
			<div class="hack_space"></div>
			<div class="img">
				<img src="./assets/images/sprite/flyer.png" alt="">
			</div>
			<span>Obra de arquitectura, planos o maquetas</span>
			<img class="info_tooltip" src="./assets/images/info.png" alt="">
		</div>
		<div class="ctn_question_child_item">
			<div class="hack_space"></div>
			<div class="img">
				<img src="./assets/images/sprite/audiovisual.png" alt="">
			</div>
			<span>Obra de arquitectura, planos o maquetas</span>
			<img class="info_tooltip" src="./assets/images/info.png" alt="">
		</div>
		<div class="ctn_question_child_item">
			<div class="hack_space"></div>
			<div class="img">
				<img src="./assets/images/sprite/by_live.png" alt="">
			</div>
			<span>Marca de producto o servicio</span>
			<img class="info_tooltip" src="./assets/images/info.png" alt="">
		</div>
		<div class="ctn_question_child_item">
			<div class="hack_space"></div>
			<div class="img">
				<img src="./assets/images/sprite/other.png" alt="">
			</div>
			<span>Marca de producto o servicio</span>
			<img class="info_tooltip" src="./assets/images/info.png" alt="">
		</div>
	</div>
	<div class="ctn_question_box">
		<div class="ctn_question_item">
			<div class="ctn_question_item_txt">
				<span>Elija la opción que más se aproxime a lo que desea proteger</span>
			</div>
		</div>
	</div>
</div>
