<h3 class="text_h3">Completa tus datos</h3>
<div class="form form-row">
	<div class="col-md-6">
		<fieldset class="">
			<label for="">Nombres</label>
			<input type="text" placeholder="Nombres">
		</fieldset>
	</div>
	<div class="col-md-6">
		<fieldset class="">
			<label for="">Apellidos</label>
			<input type="text" placeholder="Apellidos">
		</fieldset>
	</div>
	<div class="col-md-6">
		<fieldset class="">
			<label for="">DNI</label>
			<input type="text" placeholder="DNI">
		</fieldset>
	</div>
	<div class="col-md-6">
		<fieldset class="">
			<label for="">Correo electrónico</label>
			<input type="text" placeholder="Correo electrónico">
		</fieldset>
	</div>
	<div class="col-md-6">
		<fieldset class="">
			<label for="">Télefono</label>
			<input type="text" placeholder="Télefono">
		</fieldset>
	</div>
	<div class="col-md-6">
		<fieldset class="">
			<label for="">Celular</label>
			<input type="text" placeholder="Celular">
		</fieldset>
	</div>
	<div class="col-md-6">
		<fieldset class="">
			<label for="">Tipo de usuario</label>
			<input type="text" placeholder="Tipo de usuario">
		</fieldset>
	</div>
	<div class="col-md-6">
		<fieldset class="">
			<label for="">Oficio o profesión</label>
			<input type="text" placeholder="Oficio o profesión">
		</fieldset>
	</div>
	<button class="btn_block" (click)="getLink()">SIGUIENTE</button>
</div>
