<header>
	<div class="header_box">
		<h1><img src="./assets/images/logo_patenta.png" alt=""></h1>
		<nav>
			<ul>
				<li>
					<a href="">
						<span>Inicio</span></a>
				</li>
				<li>
					<a href="">
						<span>Nosotros</span></a>
				</li>
				<li>
					<a href="">
						<span>Programa Patenta</span></a>
				</li>
				<li>
					<a href="">
						<span>Charlas y Capacitaciones</span></a>
				</li>
				<li>
					<a href="">
						<span>Concurso de Invenciones y Diseños</span></a>
				</li>
				<li>
					<a href="">
						<span>Semana Patenta</span></a>
				</li>
				<li>
					<a href="">
						<span>Blog</span></a>
				</li>
				<li>
					<a href="">
						<span>CATI</span></a>
				</li>
				<li>
					<a href="">
						<span>Recursos</span></a>
				</li>
			</ul>
		</nav>
	</div>
</header>
