.icon:before
	font-family "iconFonts"
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	font-style normal
	font-variant normal
	font-weight normal
	text-decoration none
	text-transform none


.icon_arrow_down:before
	content "\E001"

.icon_arrow_up:before
	content "\E002"

.icon_large_arrow_left:before
	content "\E003"

.icon_print:before
	content "\E004"
