@import './_variables.styl'
body
	background-color $bgColor
	text-align center
h2
	font-size 47px
	color $PrimaryColor
	font-weight 600
h3
	font-size 35px
	color $PrimaryColor
	font-weight 600
h5
	color $PrimaryColor
	font-weight 600
	font-size 16px
span
	color $ThirdColor
	font-size 14px
.hack_space
	display inline-block
	width 0.1px
	height 100%
	vertical-align middle
fieldset
	width 50%
	font-size 0
	display inline-block
	margin 15px 0
	vertical-align top
	max-width 256px
	&.last_child
		margin-right 0
	&.first_child
		margin-left 0
label
	color #504f54
	font-size 1.12rem
	line-height 2
	opacity 0.43
	display block
	text-align left
.select
input
	height 41px
	border 1px solid #dedede
	border-radius 21px
	background white
	padding 0 20px
	max-width 256px
	width 100%
	font-size 1rem
	color $ThirdColor
button
.btn
	background $SecondaryColor
	border none
	outline 0
	max-width 320px
	color white
	border-radius 8px
	height 54px
	text-decoration none
	&_block
		width 100%
		display block
		margin 0 auto
	&.green
		background $PrimaryColor
	&_icon
		padding 0 23.6px
		span
			color white
			display inline-block
			margin-left 10px
.select
	text-align left
	cursor pointer
	span
		font-size 1em
		line-height 2.35
	ul
		display none
.advice
	border-radius 8px
	border 1px solid $PrimaryColor
	text-align left
	background white
	padding 14px
	p
		color #504f54
		font-size 12px
		font-weight 100
		line-height 1.44
		opacity 0.43

